<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>if_yaml &quot;simple_standard&quot;</title>
<!-- ###DOCUMENT_HEADER### start-->
<link href="fileadmin/templates/layouts/if_ready2go/css/simple.css" rel="stylesheet" type="text/css"/>
<!--[if lte IE 7]>
<link href="fileadmin/templates/layouts/if_ready2go/css/patches/patch_simple.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!-- ###DOCUMENT_HEADER### end-->
</head>
<body>
<!-- ###DOCUMENT_BODY### start-->
<!-- ###skiplinks### start-->
<ul id="skiplinks">
	<li><a class="skip" href="#nav">Skip to navigation (Press Enter).</a></li>
	<li><a class="skip" href="#col3">Skip to main content (Press Enter).</a></li>
</ul>
<!-- ###skiplinks### end-->
<div class="page_margins">
  <div class="border-top"><div class="edge-tl"> </div><div class="edge-tr"> </div></div>
  <div class="page">
    <!-- ###header### start--><div id="header" role="banner">Header</div><!-- ###header### end-->
    <!-- ###nav### start--><div id="nav" role="navigation">Navigation</div><!-- ###nav### end-->   
    <div id="main">
      <!-- ###teaser### start--><div id="teaser" role="navigation">Teaser</div><!-- ###teaser### end--> 
      <div id="col1" role="complementary">
        <div id="col1_content" class="clearfix"><!-- ###col1_content### start-->COL1_CONTENT<!-- ###col1_content### end--></div>
      </div>
      <div id="col2" role="complementary">
        <div id="col2_content" class="clearfix"><!-- ###col2_content### start-->COL2_CONTENT<!-- ###col2_content### end--></div>
      </div>
      <div id="col3" role="main">
        <div id="col3_content" class="clearfix"><!-- ###col3_content### start-->COL3_CONTENT<!-- ###col3_content### end--></div>
        <!-- IE Column Clearing -->
        <div id="ie_clearing">&nbsp;</div>
      </div>
    </div>
    <!-- ###extended### start--><div id="extended" role="complementary">EXT_CONTENT</div><!-- ###extended### end-->
    <!-- ###footer### start--><div id="footer" role="contentinfo">Footer Content</div><!-- ###footer### end-->
  </div>
  <div class="border-bottom"><div class="edge-bl"> </div><div class="edge-br"> </div></div>
</div>
<!-- ###DOCUMENT_BODY### end-->
</body>
</html>