@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) IE patch stylesheet 
 * (de) IE-Anpassungs-Stylesheet
 *
 * @creator       YAML Builder V1.2 (http://builder.yaml.de)
 * @file          patch_c3_132_m1_fullpage.css
 * @-yaml-minver  3.2
 */

/* Layout independent adjustments | Layout-unabhängige Anpassungen ----------------------------------- */
@import url(../../../../yaml/core/iehacks.css);

/* IE5.x Box model adjustments for vlist navigation | IE5.x Box-Modell-Anpassungen für vlist-Navigation */
@import url(../../../../yaml/patches/patch_nav_vlist.css);

/* Layout-dependent adjustments | Layout-abhängige Anpassungen --------------------------------------- */
@media screen, projection
{
 /**
  * min-width/max-width workaround for IE5.x & IE6
  *
  * @workaround
  * @affected   IE 5.x/Win, IE6
  * @css-for    IE 5.x/Win, IE6
  * @valid      no
  */

  * html div.page_margins {
    /* Fallback if JavaScript is disabled */
    width: auto;
    /* JS-Expression for min-/max-width simulation */
    width: expression((document.documentElement && document.documentElement.clientHeight) ? (((document.documentElement.clientWidth > (80 * 12 * (parseInt(this.parentNode.currentStyle.fontSize) / 100))) ? "80em" : "auto" )) : (((document.body.clientWidth > (80 * 12 * (parseInt(this.parentNode.currentStyle.fontSize) / 100))) ? "80em" : "auto" )));
  }

  * html #header,
  * html #nav,
  * html #main,
  * html #extended,
  * html #footer {
  /* Fallback if JavaScript is disabled */
  width: auto;
  width: expression((document.documentElement && document.documentElement.clientHeight) ? ((document.documentElement.clientWidth < 760) ? "760px" : "auto") : ((document.body.clientWidth < 760) ? "760px" : "auto")); }

}
